* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 80vw;
  margin: 0 auto;
}

button,
input {
  padding: 10px;
  margin: 10px;
}

input {
  width: 40vw;
}
.sticky {
  background-color: yellow;
  padding: 20px;
  position: relative;
}

.title {
  font-size: 1.5rem;
  font: bolder;
  padding-bottom: 20px;
}
.cross {
  position: absolute;
  color: red;
  padding: 5px;
  margin: 10px;
  top: 0;
  right: 0;
  border: 1px solid red;
}
