* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 80vw;
  margin: 0 auto;
}

button {
  padding: 10px;
  margin: 10px;
}

.sticky {
  background-color: yellow;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  font: bolder;
  padding-bottom: 20px;
}
